<div class="container">
    <table class="table">
    <% if @residences %>
        <thead class="thead-dark">
            <tr>
                <th scope="col" style="text-align:center">Address</th>
                <th scope="col" style="text-align:center">Bedrooms</th>
                <th scope="col" style="text-align:center">Bathrooms</th>
                <th scope="col" style="text-align:center">Request a Cleaning</th> 
            </tr>
        </thead>
        <tbody>
        <% @residences.each do |res| %>
            <tr>
                <td style="text-align:center"><%= res.address %></td>
                <td style="text-align:center"><%= res.number_of_bedrooms %></td>
                <td style="text-align:center"><%= res.number_of_bathrooms %></td>
                <td style="text-align:center"><%= link_to "Clean request", new_client_residence_schedule_path(current_user.id, res.id), class: 'btn btn-outline-info' %></td>
            </tr>
        <% end %>
        </tbody>
    <% end %>
    </table>
</div>
    